<div id="suggestion-user">
    <!-- USERS LIST -->
    <div class="box box-danger" style="border-radius: 10px;">
        <div class="box-header with-border">
            <h3 class="box-title">Suggestion Users</h3>

            <div class="box-tools pull-right">
                <span class="label label-danger">4 New Members</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
          </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <ul class="users-list clearfix">


            </ul>
            <!-- /.users-list -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
            <a href="javascript:void(0)" class="uppercase">Show more</a>
        </div>
        <!-- /.box-footer -->
    </div>
    <!--/.box -->
</div>